@import './../../sass/variables';
@import './../../sass/mixins';

.projects__item {
    position: relative;
    flex: 0 0 32.99%;
    margin: .2rem;
    overflow: hidden;
    transition: all .3s ease;
    border-radius: .5rem;

    @include respond(tab-land) {
        flex: 1 0 49.4%;
        max-width: 49.5%;
    }

    @include respond(phone) {
        flex: 1 0 100%;
        max-width: 100%;
        margin: 1rem 0;
    }

    &:hover &__curtain {
        opacity: 1;
        z-index: 3;
    }

    &__title {
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .35rem;
        font-weight: 400;

        background-color: $color-background;
        padding: 1rem;
        color: $color-white;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        @include respond(tab-land) {
            font-size: 2.2rem;
            letter-spacing: .15rem;
        }

        @include respond(phone) {
            font-size: 2.5rem;
            letter-spacing: .15rem;
        }
    }

    &__description {
        line-height: 1.4;
        letter-spacing: .15rem;
        font-weight: 400;
        color: $color-white;
        font-size: 1.6rem;

        text-align: center;
        background-color: $color-primary;
        padding: .7rem;

        @include respond(phone) {
            padding: 0;
            letter-spacing: .12rem;
            font-size: 2rem;
        }
    }

    &__drawer {
        transform: translateY(42%);
        transition: all .5s ease;

        @include respond(tab-land) {
            transform: translate(0);
        }
    }

    &:hover &__drawer {
        transform: translate(0);
    }

    &__link {
        position: absolute;
        bottom: 0;
        z-index: 1;
        cursor: pointer;

        background-color: $color-background;
        color: $color-white;
        padding: 1rem 2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.7rem;

        transition: all .2s ease;

        &--left {
            left: 0;
            border-top-right-radius: 1rem;
            border-right: .25rem solid $color-primary;
            border-top: .25rem solid $color-primary;
        }

        &--right {
            right: 0;
            border-top-left-radius: 1rem;
            border-left: .25rem solid $color-primary;
            border-top: .25rem solid $color-primary;
        }

        &:hover {
            background-color: $color-primary
        }
    }


    &__image {
        display: flex;
        width: 100%;
        height: auto;
        position: relative;
        transition: all .5s ease;
    }

}