@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }

  100% {
    opacity: 1;
    transform: translate(initial);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(40rem);
  }

  100% {
    opacity: 1;
    transform: translate(initial);
  }
}

@keyframes moveInLeft-delay {
  0% {
    opacity: 0;
    color: rgba(black, 0.5);
    transform: translateX(-100%);
  }

  60% {
    opacity: 0;
    color: rgba(black, 0.5);
    transform: translateX(-30%);
  }

  100% {
    opacity: 1;
    transform: translate(initial);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    color: rgba(black, 0.5);
    transform: translateY(-10rem);
  }

  80% {
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(initial);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    color: rgba(black, 0.5);
  }

  60% {
    opacity: 0;
    color: rgba(black, 0.5);
    transform: translateY(-30%);
  }

  100% {
    opacity: 1;
    transform: translate(initial);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20rem);
  }
}

@keyframes navItemSlide {
  0% {
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes showCookies {
  0% {
    transform: translateY(101%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes release-project1 {
  0% {
    transform: scale(0) translateX(-100%);
  }

  100% {
    transform: scale(1) translateX(0);
  }
}

@keyframes release-project2 {
  0% {
    transform: scale(0) translateX(-100%);
  }

  100% {
    transform: scale(1) translateX(-100%);
  }
}

@keyframes lpaIn {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes lpaOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(-50%) scale(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes noise-x {
  $steps: 30;

  @for $i from 1 through $steps {
    #{percentage($i*calc(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-e {
  $steps: 30;

  @for $i from 1 through $steps {
    #{percentage($i*calc(1/$steps))} {
      $top: random(99);
      $bottom: random(100 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(100deg);
  }

  2% {
    transform: rotateX(0deg) skewX(0deg);
  }

  84% {
    transform: rotateX(0deg) skewX(0deg);
  }

  85% {
    transform: rotateX(-20deg) skewX(80deg);
  }

  86% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes distortion {
  1% {
    transform: rotateX(10deg) translateY(10px);
  }

  2% {
    transform: rotateX(0deg) translateY(0);
  }

  79% {
    transform: rotate(0deg) translateY(0);
  }

  80% {
    transform: rotateX(10deg) translateY(-12px);
  }

  85% {
    transform: rotateX(0deg) translateY(0);
  }

  99% {
    transform: rotateX(0deg) translateY(0);
  }
}