@import './variables';

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(initial);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(40rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(initial);
  }
}

@keyframes moveInLeft-delay {
  0% {
    opacity: 0;
    color: rgba(black, .5);
    transform: translateX(-100%);
  }

  60% {
    opacity: 0;
    color: rgba(black, .5);
    transform: translateX(-30%);
  }

  100% {
    opacity: 1;
    transform: translate(initial);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    color: rgba(black, .5);
    transform: translateY(-10rem);
  }

  80% {
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(initial);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    color: rgba(black, .5);
  }

  60% {
    opacity: 0;
    color: rgba(black, .5);
    transform: translateY(-30%);
  }

  100% {
    opacity: 1;
    transform: translate(initial);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20rem);
  }
}

@keyframes navItemSlide {
  0% {
    transform: translateX(-100rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes showCookies {
  0% {
    transform: translateY(101%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes release-project1 {
  0% {
    transform: scale(0) translateX(-100%);
  }

  100% {
    transform: scale(1) translateX(0);
  }
}

@keyframes release-project2 {
  0% {
    transform: scale(0) translateX(-100%);
  }

  100% {
    transform: scale(1) translateX(-100%);
  }
}

@keyframes grayOff {
  0% {
    filter: grayscale(1);
  }

  70% {
    filter: grayscale(1);
  }


  100% {
    filter: grayscale(0);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(0);
  }
}

@keyframes hide {
  0% {
    opacity: 0.1;
  }

  80% {
    opacity: 0.1;
  }
  
  100% {
    opacity: 0;
  }
}