// COLORS
// $color-primary: #e51945;
$color-primary: #d81e47;

// $color-secondary: #0080ff;
$color-secondary: #286cff;

$color-tertiary: #EAA6B8;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey: #777;
$color-grey-2: #999;
$color-grey-dark: #333;

$color-white: rgb(241, 239, 243);
$color-black: #090909;
$color-dark: #111;
$color-background: rgb(28, 28, 31);

$color-success: rgb(25, 195, 238);
$color-failure: #ff416a;

// FONT
$default-font-size: 1.6rem;