// COLORS
$color-main: #f3c33e;
$color-main-light: #f5d681;

$gradient-gold: linear-gradient(295deg, $color-main 0%, $color-main-light 74%);

$color-accent: #ee3462;

$color-success: #72ec67;

$color-disabled: #aaa;

$color-grey: #777;

$color-dark-text: #333;

$color-white: #f1eff3;
$color-black: #0a0a0a;
$color-dark: #111111;
$color-background: #1c1c1f;

// FONT
$default-font-size: 1.6rem;
