@import '../../../sass/variables';

.about {
    height: 100vh;
    background-color: $color-white;
    // border-top: 1rem solid black;
    position: relative;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    margin: auto;
    height: 90%;
    border: 0px solid rgba(0, 0, 0, .5);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}