.section-about {
  @include sectionDropShadow;
  @include perspectivetrick;
  position: relative;
  padding: 2rem 0 3rem;
  margin: 0 auto;

  background-color: $color-white;
  background-image: radial-gradient(circle, rgba($color-white, 0.9) 0%, rgba($color-white, 1) 100%),
    url(../../assets/images/tech-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    max-width: 120rem;
    margin: 2rem auto 0;

    @include respond(tab-port) {
      margin: 2rem auto;
    }
  }
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 8rem;
  text-align: justify;

  @include respond(tab-port) {
    flex-flow: column;
    max-width: 650px;
    margin: 2rem auto 0;
  }

  @include respond(phone) {
    flex-flow: column;
    margin: 2.5rem 0;
  }

  &__image {
    @include unselectable;
    pointer-events: none;

    overflow: hidden;
    border-radius: 50%;
    flex: 0 1 30%;
    width: 100%;

    @include respond(tab-port) {
      max-width: 40%;
      margin-bottom: 4rem;
    }

    @include respond(phone) {
      max-width: 70%;
    }
  }

  &__text {
    margin: 0 0 0 8rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-dark-text;
    line-height: 1.4;
    letter-spacing: 1px;
    flex: 1;

    @include respond(tab-port) {
      margin: 0;
      max-width: 450px;
      font-size: 1.7rem;
    }

    @include respond(phone) {
      margin: 0 3rem;
    }
  }
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}
