.section-contact {
  position: relative;
  background-color: $color-white;
  background-image: radial-gradient(
      circle,
      rgba($color-white, 0.3) 0%,
      rgba($color-white, 0.7) 50%,
      rgba($color-white, 1) 100%
    ),
    url(../../assets/images/contact-cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 4rem 0 6rem;
  margin: 0 auto;
}

.contact-form {
  position: relative;
  max-width: 70rem;

  background-color: $color-background;
  border-radius: 1rem;

  padding: 1rem;
  margin: 6rem auto 0;

  @include respond(phone) {
    width: 98%;
  }

  &__block {
    @include unselectable;

    position: absolute;
    top: -2.6rem;
    left: 50%;
    transform: translateX(-50%);

    background-color: $color-background;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-top-left-radius: 8rem;
    border-top-right-radius: 8rem;
    font-family: 'Genos';
    font-size: 2rem;
    letter-spacing: 1px;
    color: $color-white;
    text-shadow: 0 0 0.4rem $color-accent;

    @include respond(phone) {
      font-size: 2.2rem;
    }
  }

  &__group {
    text-align: left;
    display: flex;
    flex-direction: row;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;

    overflow: hidden;

    @include respond(phone) {
      margin: 0.5rem 0 0 0;
      flex-direction: column-reverse;
    }
  }

  &__status {
    color: $color-success;
    font-size: 0;
    flex: 1;
    text-align: center;
    transition: all 0.5s ease;

    transform: translateY(5rem);

    &--success {
      transform: translate(0);
      font-size: 1.6rem;

      @include respond(phone) {
        font-size: 1.8rem;
        margin: 2rem 0 1rem;
      }
    }
  }
}
