@import '../variables';
@import '../mixins';

.footer {
  width: 100%;
  background-color: $color-primary;
  position: absolute;
  border-top: .25rem solid $color-background;

  &__square {
    width: 4rem;
    height: 4rem;
    position: absolute;
    border-top-right-radius: 1rem;

    top: 0;
    left: 50%;
    transform: translate(-50%, -54%) rotate(-45deg);

    &--top {
      background-color: $color-primary;
      border-right: .25rem solid $color-background;
      border-top: .25rem solid $color-background;
    }

    &--copyright {
      background-color: $color-dark;
      border-right: .25rem solid $color-primary;
      border-top: .25rem solid $color-primary;
    }
  }

  &__top {
    padding: 8rem 0 3rem 0;
    z-index: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;

    @include respond(phone) {
      flex-flow: column wrap;
      align-items: center;
      padding: 3rem 0;
    }

    &-logo {
      z-index: -1;
      background-image: url("../../assets/images/logo.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      opacity: .15;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
      width: 120%;
      height: 120%;
      max-width: 30rem;

      @include respond(phone) {
        max-width: 40rem;
        transform: translate(-50%, -44%);
      }
    }

    &-item {
      display: flex;
      color: $color-white;
      flex-flow: column wrap;
      line-height: 2;
      font-size: 1.6rem;
      letter-spacing: .2rem;
      text-align: center;
      
      h4 {
        color: $color-white;
        font-size: 1.7rem;
        text-transform: uppercase;
        letter-spacing: .3rem;
      }

      @include respond(phone) {
        margin-top: 5rem;
        font-size: 1.6rem;
      }

      a,
      a:link,
      a:visited {
        color: $color-white;
        text-decoration: none;
        transition: all .2s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

    }
  }

  &__logo {
    width: 100%;
    opacity: 0.08;
  }

  &__social {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;

    &-link,
    &-link:link,
    &-link:visited {
      text-decoration: none;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      background-color: $color-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      font-size: 4.4rem;
      color: $color-white;
      transition: all .4s ease;

      &:hover {
        color: $color-black;
        background-color: $color-white;
        transform: rotate(-15deg);
      }
    }
  }

  &__copyright {
    position: relative;
    padding: 2.5rem;
    background: $color-dark;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.3rem;
    color: rgba($color-white, 0.9);
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
      letter-spacing: .1rem;
      font-size: 1.3rem;
    }

    span {
      margin: 0 .5rem;
    }
  }
}