.section-offer {
  z-index: 2;
  @include sectionDropShadow;
  @include perspectivetrick;
  position: relative;
  padding: 4rem 0;
  margin: 0 auto;

  background-color: $color-white;
  background-image: radial-gradient(circle, rgba($color-white, 0.9) 0%, rgba($color-white, 1) 100%),
    url(../../assets/images/tech-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.offer-grid {
  max-width: 140rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  color: $color-dark;

  @include respond(tab-land) {
    grid-template-columns: 1fr;
    margin: 2rem auto 0;
  }

  @include respond(phone) {
    margin: 0 1rem;
  }

  &__item {
    position: relative;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }

    &-image {
      @include unselectable;

      max-width: 18rem;
      position: relative;
      margin: 1rem 3rem 1rem 1rem;
      transition: transform 0.3s ease;

      filter: brightness(110%);

      &:hover {
        transform: scale(1.05);
      }

      @include respond(phone) {
        margin: 1rem;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      max-width: 500px;
    }

    &-title {
      margin: 1.5rem;

      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.35rem;
      text-align: center;

      @include respond(tab-port) {
        letter-spacing: 0.15rem;
      }
    }

    &-description {
      text-align: justify;
      font-size: 1.6rem;
      line-height: 1.4;
      letter-spacing: 0.15rem;
      font-weight: 400;

      @include respond(tab-port) {
        font-size: 1.7rem;
      }

      @include respond(phone) {
        padding: 0;
        letter-spacing: 0.12rem;
      }
    }
  }
}
