.section-offer {
  @include sectionDropShadow;
  @include perspectivetrick;
  position: relative;
  padding: 4rem 0;
  margin: 0 auto;

  background-color: $color-white;
  background-image: radial-gradient(circle, rgba($color-white, 0.9) 0%, rgba($color-white, 1) 100%),
    url(../../assets/images/tech-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.offer-content {
  max-width: 120rem;
  margin: 2rem auto 4rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $color-dark;

  @include respond(tab-port) {
    flex-flow: column wrap;
    margin: 0 auto;
  }

  @include respond(phone) {
    margin: 0 1rem;
  }

  &__item {
    position: relative;
    align-self: flex-start;
    margin: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    @include respond(tab-port) {
      align-self: center;
      justify-content: center;
    }

    &-image {
      @include unselectable;

      max-width: 18rem;
      position: relative;
      margin: 1rem;
      transition: transform 0.3s ease;

      filter: brightness(110%);

      &:hover {
        transform: scale(1.05);
      }
    }

    &-title {
      margin: 1.5rem;

      font-size: 2.2rem;
      text-transform: uppercase;
      letter-spacing: 0.35rem;
      white-space: nowrap;

      @include respond(tab-port) {
        letter-spacing: 0.15rem;
      }
    }

    &-description {
      text-align: justify;
      font-size: 1.6rem;
      line-height: 1.4;
      letter-spacing: 0.15rem;
      font-weight: 400;
      max-width: 450px;

      @include respond(tab-port) {
        font-size: 1.7rem;
      }

      @include respond(phone) {
        padding: 0;
        letter-spacing: 0.12rem;
      }
    }
  }
}
