@import '../variables';
@import '../mixins';

.section-skills {
    position: relative;
    margin-top: 1rem;
    padding: 2rem .2rem 5rem .2rem;

    @include respond(phone) {
        padding: 4rem .2rem;
    }
}