.typewriter {
  display: inline-block;
  position: relative;
  width: auto;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
  animation: typewriter 5s steps(48) infinite normal both;

  &__blink-text-cursor {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;

    animation: blinkTextCursor 700ms infinite normal;

  }
}