@import "../../../sass/mixins";

.toolbar {
  height: 5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  @include respond(phone) {
    height: 7rem;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  z-index: 100;

  overflow: hidden;
  background-color: rgba(0, 0, 0, .1);
  @supports(-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px)) {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }

  transition: all .5s;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, .8);
  }

  &--transparent {
    background-color: transparent;
    box-shadow: none;
  }

  &__nav {
    height: 100%;
    font-weight: 300;
    font-size: 2.2rem;
  }
}

.desktop-only {
  display: initial;

  @include respond(phone) {
    display: none;
  }
}