@import '../../../sass/variables';

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}

.arrow {
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid;
  border-color: $color-white $color-white transparent transparent;
  transform: rotate(-45deg);
}

.arrow-slide-effect {
  opacity: 0;
  position: absolute;
  animation: slide 3s linear infinite;

  &--delay-1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  &--delay-2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

  &--delay-3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  20% {
    opacity: 1;
    transform: translateY(1rem);
  }

  80% {
    opacity: 1;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 0;
    transform: translateY(-4rem);
  }
}
