.footer {
  padding: 1.5rem;
  background: #121212;
  color: #eee;
  display: flex;
  justify-content: space-between;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  overflow: hidden;
}

.footer span {
  padding: 0 2rem;
  font-size: 1.5rem;
  transition: all .5s;
  backface-visibility: hidden;
}

.footer span:hover {
  transform: translateY(-5%) scale(1.02); 
}

.footer__link {
  color: #eee;
  text-decoration: none;
  transition: all .5s;
  backface-visibility: hidden;
}

.footer__link:hover {
  color: white;
}

.footer b {
  transition: all .5s;
}

.footer b:hover {
  color: rgb(255, 180, 215);
}