.logo {
    position: fixed;
    z-index: 200;
    background: url("../../assets/images/logo.png");
    background-size: cover;
    filter: brightness(95%);

    height: 3rem;
    width: 3rem;

    padding: 1rem;
    margin: 1rem;
}