@import '../../../sass/variables';

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 15px;
  position: relative;
  text-indent: -9999em;
  border-right: .5em solid rgba($color-white, 1);
  border-top: .5em solid rgba($color-white, 1);
  border-bottom: .5em solid rgba($color-white, 1);
  border-left: .5em solid rgba($color-white, 1);
  box-shadow: -.5rem 0 .5rem $color-white;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
