.cookies-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  padding: 1rem;

  background-color: rgba($color-dark, 0.9);
  color: $color-white;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: showCookies 1s ease;

  @include respond(phone) {
    flex-direction: column;
  }

  &__text {
    font-size: 1.5rem;
    text-align: center;

    margin: 0 1rem 0 0;

    @include respond(phone) {
      flex-basis: 100%;

      margin: 0 0 1rem 0;

      & p:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }
}
