@import '../sass/variables';
@import '../sass/mixins';

.drawer-toggle {
    &__button {
        display: none;
        position: relative;
        height: 100%;
        cursor: pointer;

        @include respond(phone) {
            display: block;
        }
    }

    &__icon {
        position: relative;
        margin-top: 2.9rem;
        z-index: 900;
        transition: all .2s ease;

        &,
        &::before,
        &::after {
            width: 5rem;
            height: 3px;
            background-color: $color-white;
            display: block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }
        
        &::before {
            top: -1.25rem;
            transition: all .4s ease;
        }

        &::after {
            top: 1.25rem;
            transition: all .4s ease 100ms;
        }

        &--active {
            background-color: transparent;

            &::before {
                transform: translateX(20rem);
            }

            &::after {
                transform: translateX(20rem);
            }

        }
    }
}