.language-pack {
  position: fixed;
  z-index: 200;
  left: 0;
  padding: 0 1rem 0 5rem;
  height: 4rem;
  display: flex;
  align-items: center;

  transition: 0.25s ease;
  @include darkMatter;

  cursor: pointer;
  user-select: none;
  outline: transparent;

  animation: fadeIn 0.6s;

  @include respond(phone) {
    padding-left: 6rem;
    height: 6rem;
  }

  &__toggler {
    color: $color-white;
    font-size: 1.4rem;
    text-transform: uppercase;

    @include respond(phone) {
      font-size: 1.5rem;
    }
  }

  &__toggler-icon {
    transition: all 0.4s ease;

    &--active {
      transform: rotate(90deg);
    }
  }

  &__dropdown {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
  }

  &__select {
    @include darkMatter;
    font-size: $default-font-size;
    color: $color-white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 9rem;
    outline: none;
    border: 1px solid transparent;

    @include respond(phone) {
      font-size: 2rem;
      width: 10rem;
    }

    &--active {
      border: 1px solid $color-accent;
      box-shadow: 0 0 4px $color-accent;
    }

    &:active,
    &:focus {
      border: 1px solid rgba($color-accent, 0.2);
    }

    &:last-child {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }

  &__lang {
    font-size: 1.4rem;
    margin-left: 0.5rem;

    @include respond(phone) {
      font-size: 1.9rem;
    }
  }
}

.lpa-enter-active {
  animation: lpaIn 0.25s;
}

.lpa-exit-active {
  animation: lpaOut 0.25s;
}
