.navigation {
  display: flex;
  flex-flow: row;
  list-style: none;
  height: 100%;

  @include unselectable;

  @include respond(phone) {
    flex-flow: column;
    height: auto;
    width: 100%;
  }

  &-item {
    position: relative;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;

    @include respond(phone) {
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 0;
    }

    &__link,
    &__link:link,
    &__link:visited {
      border-bottom: 2px solid transparent;
      position: relative;
      display: block;
      text-decoration: none;
      height: 100%;
      line-height: 4rem;
      width: auto;
      padding: 0 1.3rem;

      font-weight: 400;
      color: transparent;

      transition: all 0.4s ease;
      pointer-events: none;

      @include respond(phone) {
        width: 100%;
        border-bottom: none;
        border-left: 1.5rem solid transparent;
        padding: 0 2.8rem 0 1.3rem;
        color: $color-white;
        font-weight: 300;
        height: 6rem;
        line-height: 6rem;
      }
    }

    &__link:before {
      position: absolute;
      top: 0;
      height: 100%;
      overflow: hidden;
      display: block;
      content: attr(data-hover);

      color: $color-white;
      transition: all 0.4s ease;

      @include respond(phone) {
        display: none;
      }
    }

    &:hover &__link:before {
      color: transparent;
      transform: scale(1.5);
    }

    &:hover &__link {
      color: $color-main-light;

      @include respond(phone) {
        border-bottom: none;
        transform: none;
      }
    }

    &--active {
      border-bottom: 2px solid $color-main;

      @include respond(phone) {
        border-bottom: none;
        border-left: 1.6rem solid $color-main;
        transform: translateX(-1.1rem);
      }
    }

    @include respond(phone) {
      transform: translateX(-100rem);
    }

    &--show-on {
      transform: translateX(-100%);
      animation: navItemSlide 0.7s forwards;

      &:nth-child(2) {
        animation-delay: 50ms;
      }

      &:nth-child(3) {
        animation-delay: 100ms;
      }

      &:nth-child(4) {
        animation-delay: 150ms;
      }

      &:nth-child(5) {
        animation-delay: 200ms;
      }

      &:nth-child(6) {
        animation-delay: 250ms;
      }
    }

    &__trigger {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
