@import '../sass/mixins';
@import '../sass/variables';

.navigation {
    display: flex;
    flex-flow: row;
    list-style: none;
    height: 100%;

    @include respond(phone) {
        flex-flow: column;
        height: auto;
        width: 100%;
    }

    &-item {
        height: 100%;
        width: 100%;
        padding: 0 .7rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease-out;

        white-space: nowrap;


        @include respond(phone) {
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 0;
        }

        &__link,
        &__link:link,
        &__link:visited {
            border-bottom: .5rem solid transparent;
            position: relative;
            color: $color-white;
            display: block;
            text-decoration: none;
            padding: 1.2rem 1rem .7rem;
            transition: all .4s ease;

            @include respond(big-desktop) {
                border-bottom: .3rem solid transparent;
                padding: 1.2rem 1rem .9rem;
            }

            @include respond(phone) {
                width: 100%;
                border-bottom: none;
                border-left: 1.6rem solid transparent;
                transform: translateX(-1.1rem);
            }
        }

        &__link:after {
            position: absolute;
            top: 0;
            left: 0;

            content: attr(data-hover);
            color: $color-white;
            display: block;
            text-decoration: none;
            padding: 1rem;
            transform: translateY(-100%);

            font-weight: 600;

            @include respond(phone) {
                display: none;
            }
        }

        &:hover &__link {
            cursor: pointer;
            transform: translateY(100%);

            @include respond(phone) {
                border-bottom: none;
                transform: none;
            }
        }

        &--active {
            border-bottom: .5rem solid $color-primary;

            @include respond(big-desktop) {
                border-bottom: .3rem solid $color-primary;
            }

            @include respond(phone) {
                border-bottom: none;
                border-left: 1.8rem solid $color-primary;
                transform: translateX(-1.1rem);
            }
        }

        @include respond(phone) {
            transform: translateX(-100rem);
        }

        &--show-on {
            animation: navItemSlide 1s ease;

            &:nth-child(1) {
                animation-delay: 50ms;
            }

            &:nth-child(2) {
                animation-delay: 100ms;
            }

            &:nth-child(3) {
                animation-delay: 150ms;
            }

            &:nth-child(4) {
                animation-delay: 200ms;
            }

            &:nth-child(5) {
                animation-delay: 250ms;
            }

            &:nth-child(6) {
                animation-delay: 300ms;
            }

            transform: translateX(0);
        }
    }
}

.item-separate {
    width: 0;
    border-left: 0.15rem solid rgba($color-dark, .6);
    height: 60%;
    margin: auto 0;

    @include respond(phone) {
        border-left: none;
        border-bottom: 0.15rem solid rgba($color-dark, .8);
        background-color: transparent;
        height: 0;
        width: 80%;
        margin: 1rem auto 0 auto;
    }
}