.projects {
    margin: 1rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    @include respond(tab-land) {
        margin: 4rem auto 1rem;
    }

    @include respond(phone) {
        flex-flow: column;
    }

    &__item {
        position: relative;
        flex: 0 0 32.33333333%;
        margin: 1px .5%;
        overflow: hidden;
        transition: all .3s ease;
        border-radius: 1rem;

        @include respond(tab-land) {
            flex: 1 0 49%;
            max-width: 49%;
            margin: .5%;
        }

        @include respond(phone) {
            margin: 0.5rem .5%;
            flex: 1 0 100%;
            max-width: 100%;
            width: 98%;
        }

        &-title {
            font-size: 2rem;
            font-family: 'Genos';
            text-align: center;
            text-transform: uppercase;
            letter-spacing: .35rem;
            font-weight: 400;

            background-color: $color-dark;
            padding: 1rem;
            color: $color-white;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;

            @include respond(tab-land) {
                font-size: 2.1rem;
                letter-spacing: .15rem;
            }
        }

        &-description {
            line-height: 1.4;
            letter-spacing: .15rem;
            font-weight: 400;
            color: $color-dark;
            font-size: 1.6rem;

            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            background-color: $color-white;
            filter: drop-shadow(0 0 .5rem $color-accent);
            padding: .5rem;

            transition: all .5s ease;

            @include respond(tab-land) {
                filter: drop-shadow(0 0 .5rem $color-white);
            }

            @include respond(phone) {
                padding: 0 1rem;
                letter-spacing: .12rem;
                font-size: 2rem;
            }
        }

        &:hover &-description {
            filter: drop-shadow(0 0 .5rem $color-white);
        }

        &-drawer {
            transform: translateY(43%);
            transition: all .5s ease;
            border-top: 1px solid transparent;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;

            @include respond(tab-land) {
                border-top: 1px solid $color-main-light;
                transform: translate(0);
            }
        }

        &:hover &-drawer {
            transform: translate(0);
            border-top: 1px solid $color-main-light;
        }

        &-link {
            position: absolute;
            bottom: 0;
            z-index: 1;
            cursor: pointer;

            background-color: $color-dark;
            color: $color-white;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.6rem;

            transition: all .3s ease;

            box-shadow: 0 0 4px 1px $color-accent;

            &--left {
                left: 0;
                border-top-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                border-right: 1px solid $color-white;
                border-top: 1px solid $color-white;
            }

            &--right {
                right: 0;
                border-top-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                border-left: 1px solid $color-white;
                border-top: 1px solid $color-white;
            }

            &:hover {
                background-color: $color-white;
                color: $color-dark;
            }
        }

        &-image-container {
            position: relative;
            @include unselectable;

            background-color: $color-dark;

            height: 27rem;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
        }


        &-image {
            display: flex;
            width: 100%;
            height: 100%;
            position: relative;
            transition: all .5s ease;
            object-fit: cover;
            object-position: top;
        }

        &-icon {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2.2rem;
            color: $color-white;

            @include respond(tab-port) {
                top: 1.2rem;
            }
        }
    }
}

.link-disabled {
    text-decoration: line-through;
    color: $color-disabled;
    background-color: $color-dark;

    &:hover {
        color: $color-disabled;
        background-color: $color-dark;
    }
}