.side-drawer-container {
  display: none;

  @include respond(phone) {
    display: block;
  }
}

.side-drawer {
  position: fixed;
  overflow: hidden;
  min-width: 50%;
  max-width: 85%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 500;
  @include darkMatter;

  box-sizing: border-box;
  transition: all 0.6s cubic-bezier(0.25, 0.72, 0.46, 0.99);

  &--opened {
    transform: translate(0);
  }

  &--closed {
    transform: translateX(-101%);
  }

  &__nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
