@import '../variables';
@import '../mixins';

.technologies {
    padding: 4rem 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    max-width: 140rem;
    margin: 0 auto;

    @include respond(tab-land) {
        max-width: 90rem;
    }

    @include respond(phone) {
        padding: 4rem 2rem 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 7rem;
        margin: 3rem;

        transition: all .2s ease;

        @include respond(tab-land) {
            margin: 2.5rem;
        }

        @include respond(phone) {
            height: 5.5rem;
            margin: 2rem;
        }

        &:hover &-image {
            transform: scale(1.1);
        }

        &-image {
            transition: all .2s ease;
            height: 100%;
            border-radius: 5px;
        }
    }
}