@import '../variables';
@import '../mixins';

.technologies {
    padding: 2rem 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 140rem;
    margin: 0 auto;

    @include respond(tab-land) {
        max-width: 90rem;
    }

    @include respond(phone) {
        padding: 4rem 1rem 0;
    }

    &__group {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        &-title {
            color: $color-white;
            font-size: 2.5rem;
            letter-spacing: .5rem;
            margin-bottom: .5rem;
        }
    }

    &__items {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__item {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        position: relative;

        height: 6.5rem;
        margin: 2rem;

        transition: all .2s ease;

        @include respond(tab-land) {
            margin: 2.5rem;
        }

        @include respond(phone) {
            height: 5rem;
            margin: 1.5rem;
        }

        &:hover,
        &:active {
            z-index: 5;
        }

        &:hover &-image,
        &:active &-image {
            transform: scale(1.1);
        }

        &-image {
            transition: all .2s ease;
            height: 100%;
            border-radius: 5px;
        }
    }

    &__item:hover &__item-label {
        transform: translate(-50%, 0) scale(1);
    }

    &__item-label {
        position: absolute;
        bottom: -4rem;
        left: 50%;
        transform: translate(-50%, 0) scale(0);
        width: auto;

        white-space: nowrap;
        color: $color-white;
        background-color: $color-dark;
        border-radius: .5rem;
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem;

        transition: all .1s ease;

        &::before {
            @include triangle(0.9rem, $color-dark, 0, -45%);
        }
    }


}