.technologies {
  max-width: 90rem;
  margin: 0 auto -2rem;

  perspective: 1000px;
  filter: drop-shadow(0 5px 5px $color-dark);

  @include respond(tab-port) {
    max-width: 70rem;
  }

  @include respond(phone) {
    max-width: 80%;
    margin: 0 auto;
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    transform: rotateX(45deg) translateY(-3rem);

    @include respond(tab-port) {
      transform: rotateX(34deg) translateY(-5rem);
    }

    @include respond(phone) {
      transform: rotateX(18deg) translateY(-3rem);
    }
  }

  &__item {
    @include unselectable;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 11rem;
    min-width: 11rem;
    padding: 1rem;
    text-align: center;
    flex: 1 1 auto;

    cursor: pointer;

    background-color: rgba($color-dark, 0.85);

    border: 2px solid $color-background;

    transform-origin: bottom center;
    backface-visibility: hidden;
    transition: 0.6s ease transform;

    @include respond(tab-port) {
      min-width: 14rem;
    }

    @include respond(phone) {
      height: 9rem;
      min-width: 9rem;
    }

    &--highlight {
      border: 2px solid $color-main-light;
    }

    &--active {
      z-index: 5;
      transform: rotateX(-45deg) translateZ(30px);

      border: 2px solid $color-accent;

      @include respond(tab-port) {
        transform: rotateX(-34deg) translateZ(30px);
      }

      @include respond(phone) {
        transform: rotateX(-18deg) translateZ(30px);
      }
    }
  }

  &__item-image {
    transition: all 0.2s ease;
    height: 100%;
    border-radius: 5px;

    @include respond(phone) {
      height: 90%;
    }
  }

  &__item-label {
    position: absolute;
    top: -5rem;
    left: 50%;
    transform: translate(-50%, 0) scale(0);

    width: auto;
    white-space: nowrap;
    color: $color-dark-text;
    background-color: $color-white;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;

    transition: transform 0.2s ease;

    &::before {
      @include triangleBottom(0.9rem, $color-white, 0, 45%);
    }

    &--active {
      transform: translate(-50%, 0) scale(1);
    }
  }

  &__buttons {
    @include textDropShadow(dark);
    position: relative;
    margin: 2rem 3rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__highlight-button {
    @include unselectable;
    padding: 1rem;
    cursor: pointer;

    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-white;
    font-size: 1.6rem;

    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-2px);
    }

    &--active {
      color: $color-main;
    }
  }

  &__and-other {
    @include unselectable;
    margin: 0 3rem;

    color: $color-grey;
    opacity: 0.8;
    font-size: 1.6rem;
    text-align: center;
    font-style: italic;
  }
}
