.toolbar {
  height: 4rem;
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  z-index: 100;
  transition: 0.5s ease;

  @include respond(phone) {
    height: 6rem;
  }

  &--fixed {
    position: fixed;
    top: 0;
  }

  &__nav {
    height: 100%;
    transition: 0.25s ease;
    overflow: hidden;
    @include darkMatter;
  }
}

.desktop-only {
  display: initial;

  @include respond(phone) {
    display: none;
  }
}
