@import "../sass/mixins";
@import "../sass/variables";

.toolbar {
  height: 4rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;


  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  z-index: 100;
  transition: background-color .3s cubic-bezier(.45, .68, .45, .68);

  // background-color: rgba(0, 0, 0, .1);

  @supports(-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px)) {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }

  @include respond(phone) {
    height: 6rem;
    overflow: visible;
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, .8);
  }

  &--transparent {
    background-color: transparent;
    box-shadow: none;
    backdrop-filter: none;
  }

  &__nav {
    height: 100%;
  }
}

.desktop-only {
  display: initial;

  @include respond(phone) {
    display: none;
  }
}