@import "../../../sass/variables";
@import "../../../sass/mixins";

.section-offer {
    padding: 4rem 0;
    position: relative;
}

.offer-content {
    max-width: 120rem;
    margin: 0 auto 2rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $color-white;

    @include respond(tab-port) {
        flex-flow: column wrap;
        margin: 0 12rem;
    }

    @include respond(phone) {
        margin: 0 2rem;
    }

    &__item {
        align-self: flex-start;
        margin: 2rem;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
        flex: 1;

        &-image {
            max-width: 18rem;
            position: relative;
            margin: 1rem;
            transition: all .3s ease;

            &:hover {
                filter: brightness(110%);
                transform: scale(1.01);
            }
        }

        &-title {
            margin: 1.5rem;

            font-size: 2.2rem;
            text-transform: uppercase;
            letter-spacing: .35rem;

            @include respond(tab-port) {
                letter-spacing: .15rem;
            }
        }

        &-description {
            text-align: justify;
            font-size: 1.6rem;
            line-height: 1.4;
            letter-spacing: .15rem;
            font-weight: 400;

            @include respond(phone) {
                padding: 0;
                letter-spacing: .12rem;
                font-size: 1.7rem;
            }
        }
    }
}