@import '../../sass/mixins';
@import '../../sass/variables';

.language-pack {
    position: fixed;
    z-index: 200;
    left: 5rem;
    padding: 1rem 0;
    cursor: pointer;
    user-select: none;
    outline: transparent;
    -webkit-tap-highlight-color: transparent;

    @include respond(phone) {
        padding: 2rem 0;
    }

    &__toggler {
        color: $color-white;
        font-size: $default-font-size;
        text-transform: uppercase;
    }

    // &:hover &__dropdown {
    //     display: block;
    // }

    &__toggler-icon {
        transition: all .4s ease;
        &--active {
            transform: rotate(90deg);
        }
    }

    &__dropdown {
        display: none;
        padding: 1rem 0;
        margin: 0 -1rem;

        @include respond(phone) {
            padding: 2rem 0;
            margin: 0 -2rem;
        }

        &--visible {
            display: block;
        }
    }

    &__select {
        background-color: $color-dark;
        font-size: $default-font-size;
        color: $color-white;
        border: none;
        padding: 1rem;
        cursor: pointer;
        display: block;
        text-align: center;
        width: 8rem;
        outline: none;
        border: 2px solid transparent;

        @include respond(phone) {
            font-size: 2rem;
            width: 9rem;
        }

        &:active,
        &:focus,
        &--active {
            border: 2px solid $color-primary;
        }

        &:last-child {
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }
    }

}