@import '../../../sass/mixins';

.navigation-items {
    display: flex;
    flex-flow: row;
    list-style: none;
    height: 100%;

    @include respond(phone) {
        flex-flow: column;
        width: 100%;
        margin-top: 18rem;
    }
}