@import '../../sass/mixins';
@import '../../sass/variables';

.arrow-top {
    position: fixed;
    bottom: 4rem;
    right: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    z-index: 100;

    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, .8);

    overflow: hidden;


    @supports(-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px)) {
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
    }

    &:hover {
        cursor: pointer;
    }

    @include respond(phone) {
        bottom: 2rem;
        right: 2rem;
    }
}

.fade-enter-active {
    animation: slideIn .5s ease-in;
}

.fade-exit-active {
    animation: slideOut .5s ease-out;
}

.language-pack {
    position: fixed;
    z-index: 200;
    left: 5rem;
    padding: 1rem 0;
    cursor: pointer;

    @include respond(phone) {
        padding: 2rem 0;
    }

    &__toggler {
        user-select: none;
        pointer-events: none;
        color: $color-white;
        font-size: $default-font-size;
        text-transform: uppercase;
    }

    &:hover &__dropdown {
        display: block;
    }

    &__toggler-icon {
        transition: all .4s ease;
    }

    &:hover &__toggler-icon {
        transform: rotateX(180deg);
    }

    &__dropdown {
        display: none;
        padding: 1rem 0;
        margin: 0 -1rem;
        @include respond(phone) {
            padding: 2rem 0;
            margin: 0 -2rem;
        }
    }

    &__select {
        background-color: $color-dark;
        font-size: $default-font-size;
        color: $color-white;
        border: none;
        padding: 1rem;
        cursor: pointer;
        display: block;
        text-align: center;
        width: 8rem;
        outline: none;
        border: 2px solid transparent;

        @include respond(phone) {
            font-size: 2rem;
            width: 9rem;
        }

        &:active, &:focus {
            border: 2px solid $color-primary;
        }

        &:last-child {
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }
    }

}